*.klendar {
	div.klendar-day-cell {
		display: inline-block;
		margin: 0px;
		padding: 0px;
		width: (100% / 7);
		height: (100% / 8);
		vertical-align: top;
		text-align: center;
	}
	div.klendar-header {
		height: (100% / 8);
		text-align: center;
	}
}